app-landing-page {
    .landing-page {
        background-image: url("../assets/imgs/home-page.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
