<ion-content class="login-content" padding>
    <div class="login-box">
        <form (ngSubmit)="login()" #registerForm="ngForm" style="height: 100%;width: 100%;">
            <ion-grid>
                <ion-row *ngIf="isShowError" class="error-info">
                    <ion-col>
                        <p>{{errorText}}</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-list inset>
                            <ion-item>
                                <ion-input type="number" class="input-opacity" [placeholder]="languageBasedTexts.EMPLOYEE_NUMBER_PLACEHOLDER" name="pin" [(ngModel)]="registerCredentials.pin"
                                    required></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-input type="number" class="input-opacity" [placeholder]="languageBasedTexts.PIN_NUMBER_PLACEHOLDER" name="password" [(ngModel)]="registerCredentials.password"
                                    required></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-input type="number" class="input-opacity" [placeholder]="languageBasedTexts.PROFIT_CENTER_ID_PLACEHOLDER" name="profitCenterId" [(ngModel)]="registerCredentials.profitCenterId"
                                    required></ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="signup-col">
                        <button ion-button class="submit-btn" full type="submit">{{languageBasedTexts.LOGIN_BTN_TEXT}}</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
</ion-content>