page-login {
    width: 100%;
    height: 100%;
    
    .login-content {

        background-image: url("../assets/imgs/login3.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: auto;
        height: 100%;
        width: 100%;

        .item-input {
            opacity: .9;
        }

        .login-box {
            background: transparent;
            padding: 20px 20px 0px 20px;
            overflow: auto;
            height: 100%;
            width: 100%;
            ion-row {
                align-items: center;
                text-align: center;

                ion-item {
                    border-radius: 30px !important;
                    padding-left: 30px !important;
                    font-size: 0.9em;
                    margin-bottom: 10px;
                    border: 1px solid #ffffff;
                    border-bottom: 0px !important;
                    box-shadow: none !important;
                    width: 50%;
                    display: flex;
                    margin-left: 20%;
                }

                .signup-col {
                    margin: 0px 16px 0px 16px;
                    padding: 20px 20px 0px 20px;
                    display: flex;
                    margin-left: 20%;
                    .submit-btn {
                        background: #3d5f76;;
                        border-radius: 30px !important;
                        border: 1px solid #ffffff;
                        width: 63%;
                        color: white
                    }
                }
            }

            .item-inner {
                border-bottom-color: #ffffff !important;
                box-shadow: none !important;
            }
            
            .error-info {
                color: red;
                background: white;
                font-weight: bold;
                border-radius: 30px !important;
                margin-bottom: 10px;
                border: 1px solid #ffffff;
                border-bottom: 0px !important;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
                width: 60%;
                height: 30px;
                margin-left: 15%;
            }

            .flexbox-container {
                display: -ms-flex;
                display: -webkit-flex;
                display: flex;
                height: 100%;
                width: 100%;
                flex-direction: column;
            }
            
            .flexbox-container > div {
                padding: 10px;
            }
            
            .flexbox-container > div:first-child {
                margin-right: 20px;
            }

            input {
                border: 0;
                outline: 0;
                background: transparent;
                border-bottom: 1px solid white;
              }
        }
    }
}

