<div class="tender-check-content">
    <div [hidden]="!createdCode" style="width: 100%; height: 100%; padding: 10px">
        <div class="cancel-div" (click)="goBack()">
            <ion-icon ios="ios-arrow-down" md="md-arrow-down"></ion-icon>
            <b>{{selectedLanguageText.BACK_BTN}}</b>
        </div>
        <div class="barcode-div">
            <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
        </div>
    </div>
    <div [hidden]="createdCode" style="width: 100%; height: 100%">
        <div class="details-div">
            <div class="oreder-list">
                <div style="width: 100%; height: 25px; font-weight: bold;margin-top: 10px;padding-right: 5px;">
                    <div class="inline-block" style="width: 15%;">{{selectedLanguageText.QTY_HEADER}}</div>
                    <div class="inline-block" style="width: 50%;">{{selectedLanguageText.NAME_HEADER}}</div>
                    <div class="inline-block" style="width: 30%; text-align: end">{{selectedLanguageText.PRICE_HEADER}}</div>
                </div>
                <div style="width: 100%;  height: calc(100% - 25px); overflow: auto;" *ngIf="!isShowEmptyDiv">
                    <div class="row-div" *ngFor="let item of itemsandModifiersArray; let i = index">
                        <div [ngClass]="{'item-style': item.type=='Item', 'modifier-style': item.type=='Modifier'}">
                            <div *ngIf="item.type=='Item'" class="inline-block bold" style="width: 15%;padding-left: 10px;">{{item.Quantity}}</div>
                            <div class="inline-block" style="width: 50%;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">{{item.name}}</div>
                            <div *ngIf="item.type=='Item'" class="inline-block" style="width: 30%;text-align: end;">{{defaultSettings.currencyType + item.amt}}</div>
                        </div>
                    </div>
                </div>
                <div *ngIf="isShowEmptyDiv" style="width: 100%; height: calc(100% - 25px); text-align: center; padding-top: 60px; font-size: large;">
                    {{selectedLanguageText.NO_ITEM_ADDED_ERROR_TEXT}}
                </div>
            </div>
            <div class="total">
                <div class="subtotal-div" style="margin-left: 7px;">
                    <p style="font-weight: bold;display: inline;">{{selectedLanguageText.SUB_TOTAL_TEXT}}</p>
                    <span style="font-weight: bold" class="text-align-end">{{defaultSettings.currencyType + subTotal}}</span>
                </div>
                <div style="margin-left: 7px;">
                    <p style="font-weight: bold;display: inline;">{{selectedLanguageText.SALES_TAX_TEXT}}</p>
                    <span style="font-weight: bold" class="text-align-end">{{defaultSettings.currencyType + resultArray.TaxAmount}}</span>
                </div>
                <div style="margin-left: 7px;">
                    <p style="font-weight: bold;display: inline;">{{selectedLanguageText.TOTAL_TEXT}}</p>
                    <span style="font-weight: bold" class="text-align-end">{{defaultSettings.currencyType + total}}</span>
                </div>
                <div *ngIf="isShowPaidLabel" class="paid-info">
                    --- {{selectedLanguageText.PAID_TEXT}} ---
                </div>
            </div>
        </div>
        <div class="payment-div" [ngClass]="(resultArray.MenuItems && resultArray.MenuItems.length && !disablePayOption) ? 'enable-div':'disable-div'">
            <div class="money-tranfer-img">
                <div class="image-border">
                    <img (click)="generateAlipayQrCode()" src="./assets/imgs/Alipay-Logo.jpg">
                </div>
            </div>
            <div class="money-tranfer-img">
                <div class="image-border">
                    <img (click)="scanCode()" src="./assets/imgs/wechatpay-logo.png">
                </div>
            </div>
            <div class="money-tranfer-img">
                <div class="image-border">
                    <img (click)="payByCash()" src="./assets/imgs/paycash.png">
                </div>
            </div>
        </div>

    </div>
</div>