page-tender-check {
    .tender-check-content {
        width: 100%;
        height: 100%;
        background-color: white;
        .disable-div {
            pointer-events: none;
        }

        .enable-div {
            pointer-events: all;
        }

        .cancel-div {
            height: 100%;
            width: 10%;
            font-size: 16px;
            ion-icon.icon {
                font-size: 2.1em !important
            }
        }

        .barcode-div {
            height: 100%;
            width: 90%;
            text-align: center;
            img {
                height: 50%;
            }

            .payment-logo {
                height: 20%;
                width: 40%;
                transform: rotate(90deg);
                float: left;
            }
        }
    }

    .details-div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-writing-mode: initial;
        -ms-writing-mode: initial;
        writing-mode: initial;
        height: 100%;
        width: 60%;
        background-color: #EBEBEB;
        .inline-block {
            display: inline-block;
        }
        .total {
            font-weight: 400;
            display: inline-block;
            padding-top: 15px;
            background-color: #DADADA;
            border-radius: 10px;
            height: 95px;
            width: 100%;
            .text-align-end {
                float: right;
                margin-right: 7px;
            }
        }
        .oreder-list {
            display: inline-block;
            width: 100%;
            height: calc(100% - 95px);
            .item-style {
                font-weight: 600;
                display: flex;
                background: #DADADA;
                line-height: 2.1;
                margin-top: 3px;
            }
            .modifier-style {
                padding-left: 22%;
                display: flex;
                background: #DADADA;
                line-height: 2.1;
                font-weight: 500;
            }
            .table-style {
                height: 100%;
                td {
                    text-align: center
                }
            }
            .header {
                width: 12%;
                height: 100%;
                text-align: start;
                padding-top: 8px;
                font-weight: bold;
                
            }
            .last {
                text-align: end;
            }
            .body {
                width: 88%;
                height: 100%;
                text-align: start;
                overflow: auto;
                .last {
                    text-align: end;
                }
                .row-div {
                    line-height: 2.7;
                    width: 25%;
                    height: inherit;
                    margin-left: 3px;
                    background-color: #DADADA;
                    display: flex !important;
                }
            }
        }
        .paid-info {
            color: green;
            font-size: 20px;
            text-align: center
        }
    }
    .payment-div {
        float: left;
        height: 100%;
        width: 40%;
        border-radius: 8%;
        border: 2px solid #c3c2c2;
        background-color: white;
        .money-tranfer-img {
            height: 30%;
            width: 100%;
            text-align: center;
            padding: 15px;
            display: inline-block;
            .image-border {
                width: 100%;
                height: 100%;
                margin-right: 10%;
                border: 2px solid darkgrey;
                img {
                    height: 100%;
                    width: 100%;
                    opacity: 1;
                    z-index: -1;
                    padding: 1px;
                }
            }
        }
    }
    .bold {
        font-weight: bold;
    }
    .float-left {
        float: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
