.left-menu-style {
    .menu-content-div {
        height: 100%;
        width: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
        float: left;
        background-color: white;

        .menu-details {
            img {
                max-height: 100%;
                height: auto;
                max-width: 100%;
            }
            .img-name-style {
                background: transparent;
                background-color: black;
                text-overflow: ellipsis;
                opacity: 0.7;
                overflow: hidden;
                white-space: nowrap;
                font-size: medium;
                position: absolute;
                bottom: 0px;
                width: -webkit-fill-available;
                height: 28px;
                color: white;
                padding-left: 4px;
                padding-top: 4px;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }
    .menu-btn-div {
        height: 60px !important;
        display: inline-block;
        padding: 18px 6px;
        margin-bottom: 0;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid grey;
        border-radius: 4px;
        color: #333;
        background-color: #ccc;
        font-weight: bolder;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .menu-img-div {
        border: 1px solid rgba(2, 128, 0, 0.12941176470588237);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

