<div class="left-menu-style">
    <div #resultsControlContainer class="menu-content-div" >
        <div *ngIf="listItemsDetails && listItemsDetails.length" >
            <div class="menu-details">
                <div class="row1 row">
                    <div class="clearfix" class="menu-img-div" [ngClass]="{'menu-btn-div': !isShowImages}" *ngFor="let item of listItemsDetails; let i = index">
                        <div *ngIf="isShowImages" class="image-div" (touchstart)="mousedown(item)" (touchend)="mouseup(item)" style="position: relative;height: 140px;  width: 100%;">
                            <img *ngIf="engLanguage && item._IMG2" style="height: 140px;" [src]="item._IMG2" alt="{{item._NAME}}">
                            <img *ngIf="engLanguage && !item._IMG2" style="border: 1px solid grey; border-radius: 10px;height: 140px;" src="./assets/imgs/imageloader.gif">
                            <div *ngIf="engLanguage && item._IMG2" class="img-name-style"><span style="opacity:1.5 !important">{{item._NAME}}</span></div>
                            <img *ngIf="!engLanguage && item._IMG2" style="height: 140px;" [src]="item._IMG2" alt="{{item._ALT_NAME}}">
                            <img *ngIf="!engLanguage && !item._IMG2" style="border: 1px solid grey; border-radius: 10px;height: 140px;width: 100%;" src="./assets/imgs/imageloader.gif">
                            <div *ngIf="!engLanguage && item._IMG2" class="img-name-style"><span style="opacity:1.5 !important">{{item._ALT_NAME}}</span></div>
                        </div>
                        <div *ngIf="!isShowImages" class="image-div"  (touchstart)="mousedown(item)" (touchend)="mouseup(item)" style="position: relative;">
                            <div *ngIf="engLanguage"><span style="opacity:1.5 !important">{{item._NAME}}</span></div>
                            <div *ngIf="!engLanguage"><span style="opacity:1.5 !important">{{item._ALT_NAME}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>