<ion-content class="main-view">
    <div class="overlay"></div>
    <div class="modal_content">
        <div class="row header responsive-sm">
            <div class="header-text">{{selectedLanguageText.CONFIRMATION_POPUP_HEADER}}</div>
            <div class="header-btn-group">
                <span class="close-button" style="display: inline-block;" (click)="closePopup('close')"> X </span>
            </div>
        </div>
        <div class="body">
            <div class="display-block" style="width: 100%; height: 100%;">
                <div class="table-header">
                    <div class="display-block text-overflow" style="font-weight: bold; width: 10%; text-align: center">{{selectedLanguageText.QTY_HEADER}}</div>
                    <div class="display-block text-overflow" style="font-weight: bold; width: 40%">{{selectedLanguageText.NAME_HEADER}}</div>
                    <div class="display-block text-overflow" style="font-weight: bold; width: 20%">{{selectedLanguageText.PRICE_HEADER}}</div>
                    <div class="display-block text-overflow" style="font-weight: bold; width: 20%">{{selectedLanguageText.REMOVE_HEADER}}</div>
                    <!-- <div class="display-block text-overflow" style="font-weight: bold; width: 20%; text-align: center">Add Modfiers</div> -->
                </div>
                <div class="table-body">
                    <div *ngFor="let item of selectedItems; let i = index" style="margin-top: 4px;font-weight: 600">
                        <div class="display-block text-overflow" style="width: 10%; font-weight: bold; text-align: center">1</div>
                        <div *ngIf="engLanguage" class="display-block text-overflow" style="width: 40%">{{item._NAME}}</div>
                        <div *ngIf="!engLanguage" class="display-block text-overflow" style="width: 40%">{{item._ALT_NAME}}</div>
                        <div class="display-block text-overflow" style="width: 20%">{{defaultSettings.currencyType + item._TOTALPRICE}}</div>
                        <div class="display-block text-overflow" style="width: 20%; text-align: center; color: red" (click)="doRemoveItem(item)">
                            <ion-icon name="trash"></ion-icon>
                        </div>
                        <div *ngIf="item.MenuModifiers" style="display: block; padding-left: 15%; font-weight: 500; color: green;">
                            <div *ngFor="let modifier of item.MenuModifiers; let j = index">{{modifier._NAMEWITHPRICE}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="confirmation-footer">
            <span class="button cancel" (click)="closePopup('close')">{{selectedLanguageText.CANCEL_BTN}}</span>
            <span (click)="closePopup('confirm')" class="button confirm">{{selectedLanguageText.OK_BTN}}</span>
        </div>
    </div>
</ion-content>