<ion-content class="main-view">
    <div class="overlay"></div>
    <div class="modal_content">
        <span *ngIf="showLoader" class="loading"></span>
        <div class="row header responsive-sm" *ngIf="!qrCodeView">
            <div class="display-block header-text">{{popupHeader}}</div>
            <div class="header-btn-group">
                <span class="close-button" style="display: inline-block;" (click)="closePopup('close')"> X </span>
            </div>
        </div>
        <div class="body" [hidden]="hideSplitOptions">
            <div class="display-block" style="height: 20px; width: 100%">
                <div style="width: 35%; font-weight: bold; float: right; text-align: center">{{selectedLanguageText.SELECT_CHECK_HEADER}}</div>
                <div style="width: 25%; font-weight: bold; float: right;">{{selectedLanguageText.PRICE_HEADER}}</div>
                <div style="width: 40%; font-weight: bold; float: right;">{{selectedLanguageText.NAME_HEADER}}</div>
            </div>
            <div class="display-block main-body split-option">
                <div *ngFor="let item of selectedItems.MenuItems; let i = index" style="height: 14%">
                    <div class="check">
                        <select [(ngModel)]="item.splitCheckNumber" [attr.id]="i">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <!-- <ion-item>
                            <ion-label>Check Number</ion-label>
                            <ion-select [(ngModel)]="item.splitCheckNumber" [attr.id]="i" (ionChange)="onChange(item, i, $event)" multiple="false">
                                <ion-option *ngFor="let number of splitNumberArray;let i = index" [value]="number" (ionSelect)="myIndex = i">{{number}}</ion-option>
                            </ion-select>
                        </ion-item> -->
                    </div>
                    <div class="item-class amount">
                        {{defaultSettings.currencyType + item.BillAmount}}
                    </div>
                    <div class="item-class name">
                        {{item.name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="body" [hidden]="hideSplitGroup">
            <div class="display-block" style="height: 10%; width: 100%;; padding: 5px">
                <div style="width: 50%; font-weight: bold; float: right; text-align: start;">{{selectedLanguageText.PAYMENT_TYPE_HEADER}}</div>
                <div style="width: 25%; font-weight: bold; float: right;">{{selectedLanguageText.PRICE_HEADER}}</div>
                <div style="width: 25%; font-weight: bold; float: right;">{{selectedLanguageText.SEQUENCE_HEADER}}</div>
            </div>
            <div class="display-block main-body split-group" style="padding: 0px !important;">
                <div *ngFor="let item of splitGroupArray; let i = index" [ngClass]="item.Status == 'completed' ? 'disable-row' : 'enable-row'"
                    style="height: 40%; padding: 5px !important;">
                    <div class="payment-group" style="width: 50%; padding-right: 10px !important" class="text-ellipsis">
                        <div class="img-div">
                            <img class="img-class" (click)="generateAlipayQrCode(item)" src="./assets/imgs/Alipay-Logo-small.jpg">
                        </div>
                        <div class="img-div">
                            <img class="img-class" src="./assets/imgs/wechatpay-logo-small.png">
                        </div>
                        <div class="img-div">
                            <img class="img-class" (click)="payByCash(item)" src="./assets/imgs/CashPay.jfif">
                        </div>
                    </div>
                    <div style="width: 25%;margin-top: 15px;" class="text-ellipsis">{{defaultSettings.currencyType + item.SplitAmount}}
                    </div>
                    <div style="width: 25%;margin-top: 15px;" class="text-ellipsis">{{selectedLanguageText.CHECK_TEXT_HEADER + item.GuestNumber}}
                    </div>
                </div>
            </div>
        </div>
        <div class="body" *ngIf="qrCodeView" style="width: 100%">
            <div class="display-block" style="height: 10%; width: 100%; padding: 5px">
                <div class="cancel-div" (click)="goBack()">
                    <ion-icon ios="ios-arrow-down" md="md-arrow-down"></ion-icon>
                    <b>{{selectedLanguageText.BACK_BTN}}</b>
                </div>
            </div>
            <div class="display-block main-body split-group" style="padding: 0px !important; width: 75%">
                <div class="barcode-div">
                    <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
                </div>
            </div>
            <div class="display-block" style="height: 15%; width: 100%;">
                <div style="text-align: center; font-weight: bold">{{selectedLanguageText.CHECK_TEXT_HEADER + selectedCheck.checkNumber}} - {{defaultSettings.currencyType + selectedCheck.amount}}</div>
            </div>
        </div>
        <div class="split-footer">
            <span class="button back" *ngIf="!hideSplitGroup" [ngClass]="disableBackButton ? 'disable-btn' : 'enable-btn'" (click)="goBack();">Back</span>
            <span class="button split" *ngIf="!hideSplitOptions" (click)="doSplitCheck();">{{selectedLanguageText.SPLIT_BTN}}</span>
            <span class="button cancel" (click)="closePopup('close')">{{selectedLanguageText.CANCEL_BTN}}</span>
        </div>
    </div>
</ion-content>