page-split-check {
    .main-view{
        background: transparent;
    }

    .overlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: .6;
        background-color: #060606;
    }

    .modal_content {
        position: absolute;
        top: 5%;
        left: 0;
        right: 0%;
        width: 52%;
        height: 90%;
        z-index: 1000;
        margin: 0 auto;
        color: #333;
        background: white;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e8e8e8));
        background: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%);
        -webkit-box-shadow: 0 2px 3px rgba(51, 51, 51, 0.35);
        box-shadow: 0 2px 3px rgba(51, 51, 51, 0.35);

        .display-block {
            display: inline-block;
            &.height-100 {
                height: 100%;
                margin-left: 5px;
            }
        }

        select {
           background-color: white;
           border: 1px solid grey;
        }

        .options {
            background-color: white;
        }

        .header {
            font-size: 15px;
            font-weight: bold;
            background-color: #4FC15E;
            height: 40px;
            color: white;
            .header-text {
                padding-left: 10px;
                padding-top: 10px;
                width: 90%;
                display: inline-block;
            }

            .header-btn-group {
                width: 10%;
                display: flex;
                flex-direction: row;
                .close-button {
                    display: inline-block;
                    color: white;
                    font-size: 30px;
                    margin-right: 5px;
                }
            }
        }

        .split-footer {
            font-size: 15px;
            font-weight: bold;
            height: 50px;
            text-align: end;
            background: white;
            
            .button {
                display: inline-block;
                padding: 15px 16px;
                margin-bottom: 0;
                font-size: 14px;
                font-weight: bolder;;
                line-height: 0.428571;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-image: none;
                border: 1px solid transparent;
                border-radius: 4px;
                margin-right: 3px;
                margin-bottom: 6px;
            }

            .split, .back {
                color: #fff;
                background-color: #4fc15e;
                border-color: #4fc15e;
                float: right;
                margin-top: 10px;
            }

           .cancel{
                color: #fff;
                background-color: #808284;
                border-color: #808284;
                float: left !important;
                margin-left: 5px;
                margin-top: 10px;
            }

            .disable-btn {
                pointer-events: none;
                opacity: .5;
            }

            .enable-btn {
                pointer-events: all;
                opacity: 1;
            }
        }

        .body {
            font-size: 14px;
            width: 100%;
            overflow: hidden;
            background-color: white;
            height: calc(100% - 90px);
        }

        .icon-p {
            font-size: 3.1em !important;
        }
    }

    .main-body {
        width: 100%;
        overflow-y: auto;
        padding: 5px;
        &.split-option {
            height: 87%;
        }

        &.split-group {
            height: 87%;
        }
    }

    .select-class {
        width: 70px;
        transform: rotate(90deg);
    }

    .item-md, .item-ios, .item-wp {
        background-color: #fff !important;
        padding-left: 0px !important;
    }

    .select-md .select-icon, .select-ios .select-icon {
        transform: rotate(90deg);
    }

    .select-wp .select-icon {
        transform: rotate(90deg);
        margin-right: 30px !important;
    }

    .select-icon .select-icon-inner {
        left: 0px !important;
        margin-top: 0px !important;
    }

    .select-text {
        overflow: hidden !important;
        min-width: 25px;
    }

    .select-wp {
        border: none !important;
    }

    .item-md.item-block .item-inner, .item-wp.item-block .item-inner, .item-ios.item-block .item-inner {
        padding: 0 !important;
        border-bottom: 0 !important;
    }

    .select-wp {
        padding: 13px 14px 21px 23px;
    }

    .select-md, .select-ios {
        padding: 12px 1px 7px 21px;
        margin-top: 30%;
    }

    ion-label.label-md, ion-label.label-wp, ion-label.label-ios {
        display: none !important;
    }

    .select-icon {
        top: 5px !important;
    }

    .img-class {
        width: 45px !important;
        height: 45px !important;
    }
    .img-div {
        float: left;
        margin-left: 5px;
    }

    .disable-row {
        opacity: 0.5;
        pointer-events: none;
    }

    .enable-row {
        opacity: 1;
        pointer-events: all;
    }

    .text-ellipsis {
        float: right;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-right: 25px;
    }

    .paid-info {
        color: #39768a;
        z-index: 9999;
        position: relative;
        left: 30%;
        top: 23%;
        font-size: 15px;
    }

    .item-class {
        float: right;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-right: 15px;
        &.amount{
            width: 25%;
        }
        &.name{
            width: 40%;
        }

    }
    .check {
        width: 35%;
        float: right;
        text-align: center;
    }

    .tip-input {
        top: 0px;
        transform: rotate(90deg);
        position: absolute;
        margin-left: -19%;
        margin-top: 25%;
        border: 1px solid grey;
    }

    .barcode-div {
        height: 100%;
        width: 90%;
        text-align: center;
        img {
            height: 50%;
        }
        .payment-logo {
            height: 20%;
            width: 35%;
            transform: rotate(90deg);
            float: left;
        }
    }

    .cancel-div {
        height: 100%;
        width: 10%;
        font-size: 16px;
        ion-icon.icon {
            transform: rotate(180deg);
            font-size: 2.1em !important
        }
    }

    .disable-btn {
        opacity: 0.6;
        pointer-events: none;
    }

    .enable-btn {
        opacity: 1;
        pointer-events: all;
    }
}
