.text-style {
    text-overflow: ellipsis;
    &.info1 {
        min-height: 15%;
        height: 15%;
    }
    &.info2 {
        min-height: 25%;
        height: 25%;
    }
    &.info3 {
        min-height: 30%;
        height: 30%;
    }
    p {
        width: max-content;
        transform: rotate(270deg);
    }
}

.footer {
    display: inline-block;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
}

.yellow {
    color: yellow;
}
