<marquee behavior="scroll" direction="right" style="width: 100%;height: 100%">
    <div *ngIf="footerText">
        <div class="footer"> {{footerText.occupancy}} </div>
        <div class="footer"> Kitchen wait time <span class="yellow">{{footerText.WaitTime}}. </span></div>
        <div class="footer"> Latest: {{footerText.Readystatus}}</div>
    </div>
</marquee>