<ion-content class="main-view">
    <div class="overlay"></div>
    <div class="modal_content" [ngClass]="isRotateMainContent?'is-rotate':'remove-rotate'">
        <div class="row header responsive-sm">
            <div class="display-block" style="padding: 15px; height: 80%;display: inline-block;">Enter IP Details</div>
            <div style="padding: 5px; height: 20%; display: flex; flex-direction: row;">
                <ion-icon class="icon-p close" name="close-circle" style="display: inline-block;" (click)="closePopup('close')"></ion-icon>
            </div>
        </div>
        <div class="body">
            <div *ngIf="!confirmationView" class="display-block" style="height: 100%; width: 100%">
                <input type="text" (focus)="onFocus()" (blur)="onBlur()" [(ngModel)]="ipnumber" style=" transform: rotate(90deg); position: absolute;margin-top: 60px; border: 1px solid gray; height: 2em;"
                    placeholder="ex: 10.17.43.** / azure.dev.net" />
            </div>
            <div *ngIf="!confirmationView" class="btn-div">
                <button ion-button class="goto-menu-btn" (click)="changeView();">OK</button>
            </div>
            <div *ngIf="confirmationView" class="display-block" style="height: 100%; width: 100%">
                To get this change effective, App needs to be restarted. Do you want to close the App?
            </div>
            <div *ngIf="confirmationView" class="btn-div">
                <button ion-button class="goto-menu-btn" (click)="closePopup('ok')">OK</button>
            </div>
        </div>
    </div>
</ion-content>