page-ipsetting {
    .main-view{
        background: transparent;
    }

    .overlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: .6;
        background-color: #060606;
    }

    .is-rotate {
        transform: rotate(270deg) !important;
        height: 75%;
        min-height: 75%;
        max-height: 75%;
    }

    .remove-rotate {
        transform: rotate(180deg) !important;
        height: 43%;
        min-height: 43%;
        max-height: 43%;
    }

    .modal_content {
        position: absolute;
        top: 28%;
        left: 0;
        right: 0%;
        z-index: 1000;
        width: 60%;
        min-width: 50%;
        max-width: 50%;
        margin: 0 auto;
        color: #333;
        background: white;
        background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
        background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
        background: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%);
        box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        writing-mode: vertical-rl;
        transform: rotate(180deg);

        .float-left {
            float: left;
        }

        .display-block {
            display: inline-block;
            &.height-100 {
                height: 100%;
                margin-left: 5px;
            }
        }

        .header {
            font-size: 15px;
            font-weight: bold;
            background-color: #4FC15E;
            width: 30%;
            color: white;

            .add-disable {
                pointer-events: none;
                opacity: .5;
            }

            .remove-disable {
                pointer-events: all;
                opacity: 1;
            }
        }

        .footer {
            font-size: 15px;
            font-weight: bold;
            width: 15%;
            text-align: center;
        }

        .empty-block {
            font-size: 15px;
            color: black;
            height: 100%;
            width: 80%;
            text-align: center;
        }

        .image-style {
            transform: rotate(90deg);
            width: 40px;
            height: 40px;
        }

        .body {
            padding: 10px;
            font-size: 14px;
            width: 83%;
            overflow: hidden;

            .rotate-90deg {
                transform: rotate(90deg);
            }

            .float-right {
                float: right;
            }

            .text-overflow {
                margin-left: 10px;
                margin-right: 5px;
                font-size: 15px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            .btn-div {
                transform: rotate(90deg);
                margin-right: 10%;
                .button {
                    font-weight: bold;
                    height: 3em;
        
                }
            }
        }

        .icon-p {
            font-size: 3.1em !important;
            &.ion-md-add-circle {
                color: darkseagreen !important;
            }
            &.close {
                color: lightcoral !important;
            }
        }

        .add-more-btn {
            font-size: 14px;
            font-weight: normal;
            -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
            margin-right: -50px;
            float: left;
        }
    }
}

