<ion-content id="home-page" class="scroll" padding>
    <div class="width-100" *ngIf="isShowLoginPage && langugeLoader">
        <page-login></page-login>
    </div>
    <span *ngIf="showLoader" class="loading"></span>
    <div class="width-100" *ngIf="!isShowLoginPage && langugeLoader" style="display: flex;flex-direction: row;">
        <div class="menu-div-left" [ngClass]="{'width-0':!isShowLeftBurgerMenu,'width-10':(isShowLeftBurgerMenu && isShowMenuIcon),'left-width-20':(isShowLeftBurgerMenu && !isShowMenuIcon)}">
            <div *ngIf="!isShowLoginPage" class="right-menu-div">
                <div class="right-menu-inner-content" style="width: 100%">
                    <div class="padding-right-menu-text" [ngClass]="{'menu-text':(isShowLeftBurgerMenu && !isShowMenuIcon), 'menu-icon': (isShowLeftBurgerMenu && isShowMenuIcon)}"
                        style="width: 30px">
                        <span class="menu-title" style="float: left;">
                            {{selectedLanguageText.CHECK_MENU_HEADER}}
                        </span>
                        <ion-toggle style="float: right;padding-right: 7px;" [(ngModel)]="isShowMenuIcon" (ngModelChange)="toggleMenuHeader()"></ion-toggle>
                    </div>
                    <div class="menu-list-scroll" [ngClass]="{'menu-text': (isShowLeftBurgerMenu && !isShowMenuIcon), 'menu-icon': (isShowLeftBurgerMenu && isShowMenuIcon)}">
                        <div class="menu-list" *ngFor="let value of menuItems;let i = index" (click)="openMenuItem(value.category, i, 'click');"
                            [ngClass]="selectedCheckOptionIndex == i?'active':'remove-active'">
                            <span *ngIf="!isShowMenuIcon" class="padding-icon-right padding-top">{{value.category}}</span>
                            <span *ngIf="isShowMenuIcon" class="padding-icon-right padding-top" style="padding-left: 0px !important;">
                                <span style="display: block;">
                                    <img class="padding-icon-right" [src]="value.imageUrl" />
                                </span>
                                <span style="font-size: 9px;display: block;">
                                    {{value.category}}
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="padding-right-menu-text menu-title" style="text-align: center;padding-left: 0px !important; height: 40px;">
                        <p (click)="logout();" style="display: contents;">{{selectedLanguageText.LOGOUT_BTN_TEXT}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="width-100" [ngClass]="{'empty-menu':(!isShowLeftBurgerMenu && !isShowRightBurgerMenu), 'menu-text':(isShowLeftBurgerMenu && !isShowMenuIcon), 'menu-icon':(isShowLeftBurgerMenu && isShowMenuIcon), 'right-menu':(isShowRightBurgerMenu)}"
            style="display: flex;flex-direction: column;">
            <div style="height: 40px; width: 100%;" class="left-bar-hide">
                <app-setting-page class="settings-div" *ngIf="isShowAppSettingView"></app-setting-page>
            </div>
            <div class="middle-content">
                <app-landing-page *ngIf="isShowLandingPage"></app-landing-page>
                <div [class.show2]="isShowRightBurgerMenu">
                    <app-left-menu [hidden]="isShowLeftMenu"></app-left-menu>
                </div>
                <div [class.show]="isShowLeftBurgerMenu">
                    <app-right-menu [hidden]="isShowRightMenu"></app-right-menu>
                </div>
                <div class="bottom-button-view" [ngClass]="!isShowRightMenu ? 'btn-active':'btn-remove-active'">
                </div>
            </div>
            <div class="footer-info">
                <app-footer-page class="wrapper2"></app-footer-page>
            </div>
        </div>
        <div class="menu-div-right" [ngClass]="isShowRightBurgerMenu ? 'right-width-20' : 'width-0'">
            <div *ngIf="!isShowLoginPage" class="menu-div">
                <div class="menu-inner-content" style="width: 100%">
                    <div class="padding-menu-text" style="width: 30px">
                        <ion-toggle style="float: left;" [(ngModel)]="isShowItemIcon" (ngModelChange)="toggleItemHeader()"></ion-toggle>
                        <span class="menu-title" style="float: right;" *ngIf="isShowRightBurgerMenu">{{selectedLanguageText.ITEM_MENU_HEADER}}</span>
                    </div>
                    <div class="menu-list-scroll">
                        <div class="menu-list" *ngFor="let value of showMenu;let i = index" (click)="openMenuChoices(value, i, 'click');" [ngClass]="selectedMenuOptionIndex == i?'active':'remove-active'">{{value}}
                            <ion-icon class="padding-icon-left" name="ios-beer-outline"></ion-icon>
                        </div>
                    </div>
                    <div class="padding-menu-text last menu-title" (click)="onAddToCheck()">
                        {{selectedLanguageText.ADD_TO_CHECK_BTN}}
                        <ion-icon name="add-circle"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>