.width-100 {
    height: 100%;
    transition: width 0.3s;
    position: relative;
    &.empty-menu{
        width: 100% !important;
    }
    &.menu-text {
        width: calc(100% - 125px) !important;
    }
    &.menu-icon {
        width: calc(100% - 65px) !important;
    }
    &.right-menu {
        width: calc(100% - 140px) !important;
    }
}

.width-90 {
    width: calc(100% - 65px);
    height: 100%;
    transition: width 0.3s;
    position: relative;
}

.width-80 {
    width: calc(100% - 140px);
    height: 100%;
    transition: width 0.3s;
    position: relative;

}

.width-75 {
    width: 75%;
    height: 100%;
    transition: width 0.3s;
    position: relative;
}

.width-25 {    
    height: 100%;
    width: 25%;
    transition: width 0.3s;
    position: relative;
}

.left-width-20 {    
    height: 100%;
    width: 125px;
    transition: width 0.3s;
    position: relative;
}   

.right-width-20 {    
    height: 100%;
    width: 140px;
    transition: width 0.3s;
    position: relative;
}

.width-10 {    
    height: 100%;
    width: 65px;
    transition: width 0.3s;
    position: relative;
}

.width-0 {
    height: 0%;
    width: 0%;
    transition: width 0.25s;
    position: relative;
}

.footer-info {
    height: 40px;
    width: 100%;
}

.right-menu-div {

    height: 100%;
    width: 100%;
    background-color: #37B548;
    color: white;
    box-shadow: 6px -2px 8px -2px #3b523e;
    position: relative;

    .right-menu-inner-content {
        width: 100%;
        height: 100%;
        .padding-right-menu-text {
            &.menu-text {
                height: 40px !important;
            }
            &.menu-icon {
                height: 65px !important;
            }
            width: 100% !important;
            font-weight: bold;
            background-color: #4FC15E;
            &.last {
                font-weight: normal;
                font-size: 15px;
                text-align: start;
                background-color: none !important;
                height: 40px;
                width: 100%;
            }
        }

        .menu-title {
            padding-top: 10px;
            padding-left: 7px;
            font-size: 16px !important;
        }

        .margin-bottom-10 {
            margin-bottom: 10px;
        }

        .menu-list-scroll {
            overflow-y: auto;
            overflow-x: hidden;
            font-size: 14px;
            width: 100%;
            .padding-icon-right {
                padding-left: 8px;
                font-size: 16px;
            }
            &.menu-text {
                height: calc(100% - 80px);
            }
            &.menu-icon {
                height: calc(100% - 105px);
                text-align: center;
            }

            .menu-list {
                padding-bottom: 7px;
                padding-top: 7px;
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                &.active {
                    background-color: #288C37;
                }
                &.remove-active {
                    background-color: none;
                }
            }
        }

        .navigate {
            ion-icon.icon {
                font-size: 3.1em !important;
            }
        }
    }
}

.overlay {
    background: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    opacity: 0.8;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    transition: opacity .6s;
    z-index: 9999;
}

.ion-md-pause {
    font-size: 1.5em !important;
    color: white;
    border: black;
    background-color: lightcoral;
    padding: 3px;
}

.left-bar-show {
    padding: 0px !important;
    align-content: center;
}

.right-bar {
    padding: 0px !important;
    .row {
        height: 100%;
    }
}

.middle-content {
    width: 100%;
    height: calc(100% - 80px);
    overflow: auto;
    &.col {
        padding: 0px !important;
    }
    .btn-active {
        opacity: 1;
    }
    .btn-remove-active {
        opacity: 0.5;
    }
}

.content-view {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: white;
}

.top-button-view {
    position: fixed !important;
    z-index: 9999;
    opacity: 0.8;
    top: -5px;
    left: 0px;
    right: 0px;
    margin-left: 45%;
    img {
        max-width: none !important;
    }

    ion-icon.icon {
        transform: rotate(90deg);
        font-size: 3.8em !important;
        color: black;
    }
}

.bottom-button-view {
    position: fixed !important;
    z-index: 9999;
    opacity: 0.8;
    left: 0px;
    right: 0px;
    bottom: -5px;
    margin-left: 45%;
    img {
        max-width: none !important;
    }

    ion-icon.icon {
        transform: rotate(270deg);
        font-size: 3.8em !important;
        color: black;
    }
}

.wrapper1 {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .text-style {
        ion-icon.icon {
            transform: rotate(360deg);
            font-size: 3.8em !important;
            color: black;
        }

        img {
            max-width: none !important;
        }

        p {
            transform: rotate(270deg);
            width: min-content;
        }
    }
}

.settings-div {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    background-color: #50B05D;
    color: white;
}

.wrapper2 {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    background-color: #7B7B7B;
    color: white;
}

div .show {
    padding: 0px; 
    margin: 0px;
}

div .show2 {
    padding: 0px; 
    margin: 0px;
}

@keyframes slidein {
    from {
        bottom: 0%;
    }

    to {
        bottom: 30%;
    }
}

@keyframes slideout {
    from {
        margin-right: 100%;
    }

    to {
        margin-right: 5%;
    }
}

@keyframes slideup {
    from {
        margin-top: 0%;
    }

    to {
        margin-top: 30%;
    }
}

.menu-div {
    background-color: #37B548;
    color: white;
    text-align: right;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    display: inline-block;
    box-shadow: -3px 0px 6px 0px #3b523e;
    position: relative;
    z-index: 0;

    .menu-inner-content {
        height: 100%;
        width: 100%;
        .padding-menu-text {
            height: 40px !important;
            width: 100% !important;
            font-weight: bold;
            background-color: #4FC15E;
            padding: 10px;
            .add-button {
                transform: rotate(90deg);
            }
        }

        ion-toggle {
            padding-top: 4px !important;
            padding-left: 0px !important;
        }

        .menu-title {
            font-size: 14px !important;
        }

        .menu-list-scroll {
            overflow-x: auto;
            overflow-y: auto;
            height: calc(100% - 80px);
            font-size: 14px;
        }

        .menu-list{
            padding-bottom: 10px;
            padding-right: 0px;
            padding-top: 5px;
            width: 100%;
            .padding-icon-left {
                padding-left: 5px;
                padding-top: 5px;
                -webkit-writing-mode: vertical-rl;
                writing-mode: vertical-rl;
            }
            
            &.active {
                background-color: #288C37;
            }

            &.remove-active {
                background-color: none;
            }
        }
        
        .last {
            padding-top: 6px !important;
            padding-left: 5px;
        }

        .disable-btn {
            opacity: 0.7;
            pointer-events: none;
        }

        .enable-btn {
            opacity: 1;
            pointer-events: all;
        }

        .navigate {
            ion-icon.icon {
                font-size: 3.1em !important;
            }
        }
    }
}

.logout-btn {
    -webkit-appearance: button;
    display: inline-block;
    padding: 0px 34px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 2px solid transparent;
    border-radius: 5px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.alert-wrapper {
    transform: rotate(270deg) !important;
}

.toggle-checked {
    .toggle-icon {
        background-color: white !important;
        .toggle-inner {
            background-color: green !important;
        }
    }
}

ion-toggle {
        position: relative !important;
        width: 36px !important;
        height: 14px !important;
        -webkit-box-sizing: content-box !important;
        box-sizing: content-box !important;
        contain: strict !important;
        padding: 12px;
        .toggle-inner {
            left: 0 !important;
            top: -3px !important;
            border-radius: 50% !important;
            position: absolute !important;
            width: 20px !important;
            height: 20px !important;
            background-color: #fff !important;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
            transition-duration: 300ms !important;
            transition-property: transform, background-color !important; 
            will-change: transform, background-color !important;
            contain: strict !important;
        }
}
.toggle-icon {
    border-radius: 14px !important;
    position: relative !important;
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    background-color: #dedede !important;
    transition: background-color 300ms !important;
    pointer-events: none !important;
}
    
