<ion-content class="main-view">
    <div class="overlay"></div>
    <div class="modal_content" [ngClass]="isShowCountPage ? 'count-page-pixels' : 'modifier-page-pixels'">
        <div class="row header responsive-sm">
            <div class="header-text" [ngClass]="isShowCountPage ?  'height-70' : 'height-55'">{{popupHeader}}</div>
            <div class="header-btn-group" [ngClass]="isShowCountPage ?  'height-30' : 'height-45'">
                <span class="close-button" style="display: inline-block;" (click)="closePopup('close')"> X </span>
            </div>
        </div>
        <div class="body">
            <div [hidden]="!isShowCountPage">
                <div class="display-block height-100">
                    <div style="width: 50%; float: left">
                        <div class="div-item">
                            <span class="span-item-title">{{selectedLanguageText.ITEM_DESC_TEXT}}: </span>
                            <span *ngIf="engLanguage" class="span-item-content" style="display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{imageDetails._NAME}}</span>
                            <span *ngIf="!engLanguage" class="span-item-content" style="display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{imageDetails._ALT_NAME}}</span>
                        </div>
                        <div class="div-item">
                            <span class="span-item-title">{{selectedLanguageText.ITEM_PRICE_TEXT}}: </span>
                            <span class="span-item-content">{{defaultSettings.currencyType + imageDetails._PRICE}}</span>
                        </div>
                    </div>
                    <div style="float: right;">
                        <div style="font-weight: bold; text-align: center;">{{selectedLanguageText.ADD_COUNT_TEXT}}</div>
                        <div style="margin-right: 10px; padding: 0px; text-align: center; display: flex;">
                            <ion-icon class="remove" name="remove-circle" (click)="removeItemCount()"></ion-icon>
                            <p class="border-style" id="item-cout-label" style="text-align: center;"></p>
                            <ion-icon class="add" name="add-circle" (click)="addItemCount()"></ion-icon>
                        </div>
                    </div>
                </div>
                <div *ngIf="isShowSeatOption" class="display-block height-100">
                    <div style="width: 50%; float: left">
                        <div class="div-item" style="padding-top: 10px;">
                            {{selectedLanguageText.SEAT_NUMBER_TEXT}}
                        </div>
                    </div>
                    <div style="float: right;">
                        <div style="margin-right: 10px; padding: 0px; text-align: center; display: flex;">
                            <ion-icon class="remove-seat" name="remove-circle" (click)="removeSeatNumber()"></ion-icon>
                            <p class="border-style" id="seat-cout-label" style="text-align: center;"></p>
                            <ion-icon class="add-seat" name="add-circle" (click)="addSeatNumber()"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div [hidden]="!isShowItemDetails" style="width: 100%;height: 100%;overflow: hidden;">
                <div class="display-block height-100">
                    <div class="modifiers-header">
                        <div class="display-block" style="width: 30%">{{selectedLanguageText.NAME_HEADER}}</div>
                        <div class="display-block" style="width: 10%;text-align: center">{{selectedLanguageText.PRICE_HEADER}}</div>
                        <div class="display-block" style="width: 15%;text-align: center">{{selectedLanguageText.CHOOSE_HEADER_TEXT}}</div>
                        <div class="display-block" style="width: 40%;text-align: center">{{selectedLanguageText.SPECIAL_INSTRUCTION}}</div>
                    </div>
                    <div class="modifiers-body">
                        <div class="body-row" *ngFor="let value of choicesList;let i = index">
                            <div *ngIf="engLanguage"  class="display-block text-overflow" style="width: 30%">{{value.ModifierName}}</div>
                            <div *ngIf="!engLanguage"  class="display-block text-overflow" style="width: 30%">{{value.ModifierAltName}}</div>
                            <div class="display-block" style="width: 10%; text-align: center">{{defaultSettings.currencyType
                                + value.ModifierPrice}}</div>
                            <div class="display-block count-img-style">
                                <input type="radio" name="radiogroup" [checked]="i === selectedRadioIndex" [value]="i" (click)="selectRadio(value, i)"><br>
                            </div>
                            <div class="display-block" style="width: 40%; text-align: center;">
                                <img (click)="addSpecialInstruction(value, i)" class="image-style" src="./assets/imgs/special_intruction_icon.png"/>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div [hidden]="!isShowEmptyDetails ">
            <div class="display-block height-100 " style="text-align: center; font-size: 15px; margin-right: 25%; ">
                {{selectedLanguageText.NO_MODIFIER_ERROR}}
            </div>
        </div>
    </div>
    <div class="modifiers-footer ">
        <span class="button add-modifiers " *ngIf="currentView==='addQuantity' " [ngClass]="isShowEmptyDetails || !imageDetails.count
                                    ? 'add-disable' : 'remove-disable' "
            (click)="closePopup( 'qty'); ">{{selectedLanguageText.ADD_ITEM_BTN}}</span>
        <span class="button add-modifiers " *ngIf="currentView !=='addQuantity' " [ngClass]="!modifierSelected ?
                                    'add-disable' : 'remove-disable' "
            (click)="closePopup( 'modifier'); ">{{selectedLanguageText.ADD_MODIFIER_BTN}}</span>
        <span class="button cancel " (click)="closePopup( 'close') ">{{selectedLanguageText.CANCEL_BTN}}</span>
    </div>
    </div>
</ion-content>