page-image-popup {
    .main-view{
        background: transparent;
    }
    .overlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: .6;
        background-color: #060606;
    }
    
    .count-page-pixels {
        height: 60%;
        width: 50%;
        top: 20%;

        .header {
            height: 40px;
        }

        .body {
            height: calc(100% - 90px);
        }

        .modifiers-footer {
            height: 50px;
            margin-top: 6px !important;
        }

    }

    .modifier-page-pixels {
        height: 90%;
        width: 55%;
        top: 5%;

        .header {
            height: 40px;
        }

        .body {
            height: calc(100% - 90px);
        }

        .modifiers-footer {
            height: 50px;
            margin-top: 6px;
        }
    }

    .modal_content {
        position: absolute;
        left: 0;
        right: 0%;
        z-index: 1000;
        margin: 0 auto;
        color: #333;
        background: white;
        background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
        background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
        background: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%);
        box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;

        .display-block {
            display: inline-block;
            &.height-100 {
                height: 100%;
                width: 100%;
                overflow: hidden;
                .modifiers-header {
                    height: 20px;
                    width: 100%;
                    font-weight: bold;
                }
                .modifiers-body {
                    height: calc(100% - 20px);
                    width: 100%;
                    overflow: auto;
                    .body-row {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                        .text-overflow {
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                        .count-img-style {
                            width: 15%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding-left: 10px;
                        }
                    }
                }
            }
        }

        .header {
            font-size: 15px;
            font-weight: bold;
            background-color: #4FC15E;
            color: white;

            .height-70 {
                width: 70%;
            }

            .height-55 {
                width: 55%;
            }

            .height-30 {
                width: 30%;
            }

            .height-45 {
                width: 45%;
            }
        
            .height-80 {
                width: 80%;
            }

            .height-20 {
                width: 20%;
            }
        
            .height-90 {
                width: 90%;
            }

            .height-10 {
                width: 10%;
            }

            .header-text {
                padding-left: 14px;
                padding-top: 10px;
                width: 90%;
                display: inline-block;
            }

            .header-btn-group {
                width: 10%;
                display: flex;
                flex-direction: row;

                .close-button {
                    display: inline-block;
                    color: white;
                    font-size: 30px;
                    margin-right: 5px;
                }
            }
        }

        .body {
            padding-top: 5px;
            padding-left: 5px;
            font-size: 14px;
            overflow: auto !important;

            .rotate-90deg {
                transform: rotate(90deg);
            }

            .float-right {
                float: right;
            }

            .image-style {
                width: 40px;
                height: 40px;
            }

            .div-item {
                font-size: medium;
                font-weight: bold;
                display: block;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                .span-item-content {
                    font-weight: normal !important;
                }
            }
            
            .border-style {
                width: 32px;
                text-align: center;
                margin-top: 15px;
            }
            .add, .add-seat {
                font-size: 3.1em !important;
                color: green;
                opacity: 0.7;
            }
            .remove, .remove-seat {
                font-size: 3.1em !important;
                color: lightcoral;
                opacity: 0.7;
            }
        }

        .modifiers-footer {
            font-size: 15px;
            font-weight: bold;
            text-align: end;

            .button {
                display: inline-block;
                padding: 15px 16px;
                margin-bottom: 0;
                font-size: 14px;
                font-weight: bolder;
                line-height: 0.428571;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-image: none;
                border: 1px solid transparent;
                border-radius: 4px;
                margin-bottom: 4px;
                margin-right: 10px;
            }

            .add-modifiers {
                color: #fff;
                background-color: #4fc15e;
                border-color: #4fc15e;
            }

            .lock, .cancel{
                color: #fff;
                background-color: #808284;
                border-color: #808284;
                float: left;
                margin-left: 6px;
            }

            .add-disable {
                pointer-events: none;
                opacity: .5;
            }

            .remove-disable {
                pointer-events: all;
                opacity: 1;
            }
        }
    }
}

