<div class="setting-content">
    <div class="div-height1">
        <img class="menu1-style" src="./assets/imgs/menu.png" (click)="showRightMenu()" />
    </div>
    <div id="languages" class="div-height2">
        <div (click)="openLanguageList()">
            <span class="tranform-text-270deg header"*ngIf="!showLanguagePopup">{{selectedLanguage}}</span>
            <ion-list class="tranform-popup" *ngIf="showLanguagePopup">
                <ion-item (click)="doSelectLanguage('English')">English</ion-item>
                <ion-item (click)="doSelectLanguage('Chinese')">Chinese</ion-item>
            </ion-list>
            <span>
                <ion-icon ios="ios-globe" class="earth-icon" md="md-globe"></ion-icon>
            </span>
        </div>
    </div>
    <div class="div-height3">
        <p class="tranform-text-270deg">{{header}}</p>
    </div>
    <div class="div-height4">
        <ion-icon class="menu2-style" name="menu" (click)="showLeftmenu()"></ion-icon>
    </div>
</div>