
.setting-content {
    width: 100%;
    height: 100%;
    display: flex !important;
    flex-direction: row-reverse;

    .item-md {
        background-color: #ffdcdc !important;
    }

    .div-height1 {
        width: 10%;
        .menu1-style {
            margin-top: 4px;
            height: 80% !important
        }
    }

    .div-height2 {
        width: 20%;
        .earth-icon {
            margin-top: 10px;
            font-size: 1.9em !important;
        }
        text-align: center;
        .header {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: inline-block;
        }
    }

    .tranform-text-270deg {
        font-size: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    
    .div-height3 {
        width: 60%;
        text-align: center !important;
        display: inline-block;
    }

    .div-height4 {
        width: 10%;
        float: left;
        margin-left: 5px;
        .menu2-style {
            font-size: 3.2em !important;
        }
    }

    .div-height5 {
        width: 20%;
        margin-left: 5px;
        display: inline-block;
    }
    
    .tranform-popup {
        z-index: 9999;
        position: relative;
    }
}


