<ion-content id="logout-popup" class="main-view">
    <div class="overlay"></div>
    <div class="modal_content">
        <div class="row header responsive-sm">
            <div class="header-text">
                {{selectedLanguageText.CONFIRMATION_POPUP_HEADER}}
            </div>
            <div class="header-btn-group">
                <span class="close-button" style="display: inline-block;" (click)="closePopup(false)"> X </span>
            </div>
        </div>
        <div class="body">
            <div class="display-block" style="height: 100%; width: 100%">
                <div class="info">{{messageText}}</div>
            </div>
        </div>
        <div class="logout-footer">
            <span class="button cancel" (click)="closePopup(false)">{{selectedLanguageText.CANCEL_BTN}}</span>
            <span class="button logout" (click)="closePopup(true)">{{selectedLanguageText.OK_BTN}}</span>
        </div>
    </div>
</ion-content>