page-logout-popup {
    .main-view {
        background: transparent;
    }
    .overlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: .6;
        background-color: #060606;
    }
    .modal_content {
        position: absolute;
        top: 25%;
        left: 0;
        right: 0%;
        width: 50%;
        height: 40%;
        z-index: 1000;
        margin: 0 auto;
        color: #333;
        background: white;
        background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
        background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
        background: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%);
        box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        
        .header {
            font-size: 15px;
            font-weight: bold;
            background-color: #4FC15E;
            height: 40px;
            color: white;
            .header-text {
                padding-left: 15px;
                padding-top: 10px;
                width: 85%;
                display: inline-block;
            }

            .header-btn-group {
                padding: 5px;
                width: 15%;
                display: flex;
                flex-direction: row;
                .close-button {
                    display: inline-block;
                    color: white;
                    font-size: 30px;
                }
            }
        }

        .body {
            font-size: 14px;
            width: 100%;
            height: calc(100% - 90px);
            overflow: hidden;
            .display-block {
                display: inline-block;
                .info {
                    text-align: center;
                    margin-top: 15px;
                    font-size: 14px;
                    color: red;
                    font-weight: 600;
                }
            }
        }

        .logout-footer {
            font-size: 15px;
            font-weight: bold;
            height: 50px;
            text-align: end;
            .button {
                display: inline-block;
                padding: 15px 16px;
                margin-bottom: 0;
                font-size: 14px;
                font-weight: bolder;
                line-height: 0.428571;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-image: none;
                border: 1px solid transparent;
                border-radius: 4px;
                margin-bottom: 4px;
                margin-right: 10px;
            }

            .logout {
                color: #fff;
                background-color: #4fc15e;
                border-color: #4fc15e;
            }
            
            .cancel{
                color: #fff;
                background-color: #808284;
                border-color: #808284;
                float: left;
                margin-left: 6px;
            }
        }
    }
}
