page-error-message-snack-bar {

    .main-view {
        background: transparent;
    }
    .overlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: .6;
        background-color: transparent;
    }

    .modal_content {
        width: 75%;
        height: 12%;
        border-radius: 3px;
        padding-top: 8px;
        padding-right: 7px;
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 1000;
        margin: 0 auto;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e8e8e8));
        background: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%);
        -webkit-box-shadow: 0 2px 3px rgba(51, 51, 51, 0.35);
        box-shadow: 0 2px 3px rgba(51, 51, 51, 0.35);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        text-align: center;

        &.error {
            color: #D8000C;
            background-color: #FFBABA;
        }
    
        &.success {
            color: #4F8A10;
            background-color: #DFF2BF;
        }
    
        &.warning {
            color: #9F6000;
            background-color: #FEEFB3;
        }
    
        &.info {
            color: #00529B;
            background-color: #BDE5F8;
        }
        
        .body {
            font-size: 16px;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            .display-block {
                display: inline-block;
                &.height-100 {
                    height: 100%;
                    margin-left: 5px;
                }
            }
        }
    }
}

