<ion-content class="main-view">
    <div class="overlay" (click)="closePopup()"></div>
    <div class="modal_content" [ngClass]="{'info': class=='info', 'error': class=='error', 'warning': class=='warning', 'success': class=='success'}">
        <div class="body">
            <div class="display-block"  style="height: 100%; width: 100%">
                {{errorMessage}}
            </div>
        </div>
    </div>
</ion-content>

