<ion-content class="main-view">
    <div class="overlay"></div>
    <div class="modal_content">
        <div class="row header responsive-sm">
            <div class="header-text">{{selectedLaguageText.PREVIEW_LABEL}}</div>
            <div class="header-btn-group">
                    <span class="button cancel" (click)="closePopup(false, '')">{{selectedLaguageText.CANCEL_BTN}}</span>
                    <span (click)="closePopup(true, 'print')" class="button ok">{{selectedLaguageText.PRINT_BTN}}</span>
                    <span (click)="closePopup(true, 'email')" class="button ok">{{selectedLaguageText.EMAIL_BTN}}</span>
            </div>
        </div>
        <div class="body">
            <div class="display-block" style="height: 100%; width: 100%;text-align: center;">
                <div class="print-text">
                    <div *ngFor="let item of receiptDeatils" [innerHtml]="item"></div>
                </div>
            </div>
        </div>
    </div>
</ion-content>