page-pin-check {
    .main-view {
        background: transparent;
    }
    .overlay {
        position: relative;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: .6;
        background-color: #060606;
        overflow: auto;
    }

    .is-rotate {
        transform: rotate(270deg) !important;
        width: 35%;
        height: 45%;
    }

    .remove-rotate {
        transform: rotate(180deg) !important;
        width: 40%;
        height: 30%;
    }

    .modal_content {
        margin: 0 auto;
        position: absolute;
        top: 5%;
        left: 0;
        right: 0%;
        height: 90%;
        width: 80%;
        display: flex;
        z-index: 1000;
        flex-direction: row;
        color: #333;
        background: white;
        background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
        background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
        background: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%);
        box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        
        .header {
            font-size: 15px;
            font-weight: bold;
            background-color: white;
            color: black;
            width: 25%;
            .header-text {
                padding-left: 15px;
                padding-top: 10px;
                width: 100%;
                height: 10%;
                display: inline-block;
            }
            .header-btn-group {
                height: 90%;
                display: flex;
                flex-direction: column;
                width: 100%;
                .close-button {
                    display: inline-block;
                    color: white;
                    font-size: 30px;
                    margin-right: 5px;
                }
                .button {
                    display: inline-block;
                    padding: 13px 16px;
                    margin-bottom: 0;
                    font-size: 14px;
                    font-weight: bolder;
                    line-height: 0.428571;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;
                    -ms-touch-action: manipulation;
                    touch-action: manipulation;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    background-image: none;
                    border: 1px solid transparent;
                    border-radius: 4px;
                    margin-bottom: 4px;
                    margin-right: 10px;
                    margin-left: 10px;
                    margin-top: 10px;
                }
    
                .ok {
                    color: #fff;
                    background-color: #4fc15e;
                    border-color: #4fc15e;
                }
    
                .cancel{
                    color: #fff;
                    background-color: #808284;
                    border-color: #808284;
                    float: left;
                }
            }
        }

        .body {
            font-size: 14px;
            overflow: auto;
            background: transparent;
            background-color: grey;
            width: 75%;

            .display-block {
                display: inline-block;
                &.height-100 {
                    width: 100%;
                    margin-left: 5px;
                }
            }

            .print-text {
                padding: 10px;
                border: 1px dashed grey;
                width: 80%;
                margin-left: 42px;
                margin-top: 10px;
                margin-bottom: 10px;
                background-color: aliceblue;
            }

            .input-style {
                border: 1px solid grey;
                height: 40px;
                width: 80%;
                padding-left: 5px;
                margin-left: 25px;
                margin-top: 7px;
            }
            
            .text-input, .text-input-wp, .text-input-ios {
                padding: 7px;
                background-color: white;
                width: 150px;
                border: 1px solid lightgray !important;
                margin-left: 50px;
                margin-top: 25px;
            }
        }

        .pin-footer {
            font-size: 15px;
            font-weight: bold;
            height: 50px;
            text-align: end;
            background-color: white;
            .button {
                display: inline-block;
                padding: 15px 16px;
                margin-bottom: 0;
                font-size: 14px;
                font-weight: bolder;
                line-height: 0.428571;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-image: none;
                border: 1px solid transparent;
                border-radius: 4px;
                margin-bottom: 4px;
                margin-right: 10px;
            }

            .ok {
                color: #fff;
                background-color: #4fc15e;
                border-color: #4fc15e;
                margin-top: 10px;
            }

            .cancel{
                color: #fff;
                background-color: #808284;
                border-color: #808284;
                float: left;
                margin-left: 6px;
                margin-top: 10px;
            }
        }
    }
}
