<div  class="content-view right-menu-style"> 
    <div class="menu-content-div">
        <page-order-details class="page-order-details" *ngIf="isShowOrderStatus" ></page-order-details>
        <page-open-check *ngIf="isShowOpenCheck"></page-open-check>
        <page-print-summary *ngIf="isShowPrintSummary"></page-print-summary>
        <page-tender-check *ngIf="isShowTenderCheck"></page-tender-check>
    </div>
</div>