
.right-menu-style {
    .menu-content-div {
        height: 100%;
        width: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}




