page-recall-check-popup {
    .main-view{
        background: transparent;
    }
    .overlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: .6;
        background-color: #060606;
    }
    .modal_content {
        position: absolute;
        top: 5%;
        left: 0;
        right: 0%;
        width: 60%;
        height: 90%;
        z-index: 1000;
        margin: 0 auto;
        color: #333;
        background: white;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e8e8e8));
        background: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%);
        -webkit-box-shadow: 0 2px 3px rgba(51, 51, 51, 0.35);
        box-shadow: 0 2px 3px rgba(51, 51, 51, 0.35);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-writing-mode: tb-rl;
        .float-left {
            float: left;
        }

        .display-block {
            display: inline-block;
            &.height-100 {
                height: 100%;
                margin-left: 5px;
            }
        }

        .content-block {
            width: 100%;
            height: 100%;
            padding: 3px;
        }

        .add-disable {
            pointer-events: none;
            opacity: .5;
        }

        .remove-disable {
            pointer-events: all;
            opacity: 1;
        }

        .header {
            font-size: 15px;
            font-weight: bold;
            background-color: #4FC15E;
            height: 40px;
            color: white;
            .header-text {
                padding-left: 10px;
                padding-top: 10px;
                width: 90%;
                display: inline-block;
            }

            .header-btn-group {
                width: 10%;
                display: flex;
                flex-direction: row;
                .close-button {
                    display: inline-block;
                    color: white;
                    font-size: 30px;
                    margin-right: 5px;
                }
            }
        }

        .recall-footer {
            font-size: 15px;
            font-weight: bold;
            height: 50px;
            text-align: end;
            .button {
                display: inline-block;
                padding: 15px 16px;
                margin-bottom: 0;
                font-size: 14px;
                font-weight: bolder;
                line-height: 0.428571;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-image: none;
                border: 1px solid transparent;
                border-radius: 4px;
                margin-bottom: 4px;
                margin-right: 10px;
            }

            .add-more {
                color: #fff;
                background-color: #4fc15e;
                border-color: #4fc15e;
                margin-top: 10px;
            }

            .lock, .cancel{
                color: #fff;
                background-color: #808284;
                border-color: #808284;
                float: left;
                margin-left: 6px;
                margin-top: 10px;
            }
        }

        .body {
            font-size: 14px;
            height: calc(100% - 90px);
            overflow-y: hidden;
            width: 100%;
    
            .modifier-style {
                padding-left: 22%;
                color: olivedrab;
            }

            .item-style {
                font-weight: 500 !important;
            }

            .text-overflow {
                font-size: 15px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            .empty-block {
                font-size: 15px;
                color: black;
                height: 100%;
                width: 80%;
                text-align: center;
            }
            .delete {
                ion-icon {
                    color: red !important;
                }
            }
        }
    }
}

