<ion-content class="main-view">
    <div class="overlay"></div>
    <div class="modal_content">
        <span *ngIf="showLoader" class="loading"></span>
        <div class="row header responsive-sm">
            <div class="header-text">{{popupHeader}}</div>
            <div class="header-btn-group">
                <span class="close-button" style="display: inline-block;" (click)="closePopup('close')"> X </span>
            </div>
        </div>
        <div class="body">
            <div *ngIf="isShowItemBlock" class="display-block content-block" style="height: 100%;">
                <div style="height: 10%;">
                    <div class="display-block text-overflow" style="font-weight: bold; width: 15%">{{selectedLanguageText.QTY_HEADER}}</div>
                    <div class="display-block text-overflow" style="font-weight: bold; width: 40%">{{selectedLanguageText.NAME_HEADER}}</div>
                    <div class="display-block text-overflow" style="font-weight: bold; width: 20%;">{{selectedLanguageText.PRICE_HEADER}}</div>
                    <div class="display-block text-overflow" style="font-weight: bold; width: 20%; text-align: center;">{{selectedLanguageText.REMOVE_HEADER}}</div>
                </div>
                <div style="height: 90%;overflow: auto;">
                    <div style="height: 10%;margin-bottom: 10px;" *ngFor="let item of itemsandModifiersArray;let i = index">
                        <div [ngClass]="{'add-disable': item.deleted==true, 'remove-disable': item.deleted==false, 'item-style': item.type=='Item', 'modifier-style': item.type=='Modifier'}">
                            <div *ngIf="item.type=='Item'" class="display-block text-overflow" style="width: 15%">{{item.Quantity}}</div>
                            <div class="display-block text-overflow" style="width: 40%">{{item.name}}</div>
                            <div  *ngIf="item.type=='Item'" class="display-block text-overflow" style="width: 20%;">{{defaultSettings.currencyType + item.BillAmount}}</div>
                            <div *ngIf="item.type=='Item'" class="display-block text-overflow delete" style="width: 20%; text-align: center;" (click)="doRemoveItem(item, i)">
                                <ion-icon name="trash"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="isShowEmptyBlock" class="display-block" style="height: 100%; width: 100%">
                <span class="empty-block">
                    <p *ngIf="!isCheckAvailable">{{selectedLanguageText.NO_CHECK_AVAILBLE_TEXT}}</p>
                    <p *ngIf="isCheckAvailable">{{selectedLanguageText.NO_ITEM_AVAILBLE_TEXT}}</p>
                </span>
            </div>
        </div>
        <div class="recall-footer">
            <span class="button cancel" (click)="closePopup('close')">{{selectedLanguageText.CANCEL_BTN}}</span>
            <span *ngIf="isShowUnLock" class="button lock" (click)="lockScreen()">{{selectedLanguageText.LOCK_BTN}}</span>
            <span *ngIf="isShowLock" class="button lock" (click)="unLockScreen()">{{selectedLanguageText.UNLOCK_BTN}}</span>
            <span [ngClass]="(isShowEmptyBlock && !isCheckAvailable) || isShowLock || isCheckSplited  ? 'add-disable':'remove-disable'"
                (click)="closePopup('addmore')" class="button add-more">{{selectedLanguageText.ADD_MORE}}</span>
        </div>
    </div>
</ion-content>