<div class="print-receipt-container">
    <div class="card" *ngFor="let item of printSummaryResultArray">
        <div class="container" (click)="openPrintPreview(item)">
            <div style="height: 100%;">
                <div class="invoce-header">{{item.CheckNo}}</div>
                <div class="date-time">{{item.ClosedDate}}</div>
                <div style="height: 20%">
                    <span>{{defaultSettings.currencyType + item.CheckAmount}}</span>
                </div>
            </div>
        </div>
    </div>
</div>