page-print-summary {
    width: 100%;
    height: 100%;
    writing-mode: initial !important;
    background-color: white !important;
    padding-left: 10px;
    padding-top: 10px;
    .print-receipt-container {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        .card {
            box-shadow: 1px 0px 7px 1px rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            background: #eeefeacc;
            width: 31%;
            height: calc(50% - 10px);
            border-radius: 5px;
            display: inline-block;
            margin-bottom: 5px;
            margin-top: 5px;
            margin-left: 5px;
            text-align: center;
            font-size: 18px;
            .container {
                padding: 5px;
                width: 100%;
                height: calc(100% - 0px);
                overflow: auto !important;
                .invoce-header {
                    height: 30%;
                    font-weight: bold;
                    margin-top: 5px;
                }
                .date-time {
                    height: 50%;
                }
                .button {
                    background-color: #979897;
                    border: none;
                    color: white;
                    padding: 8px 16px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 14px;
                }
            }
        }
    }
}
