page-open-check {
    .menu-details {
        -webkit-writing-mode: initial !important;
        -ms-writing-mode: initial !important;
        writing-mode: initial !important;
        background: white;
        text-align: center;
        width: 100%;
        height: 100%;
        .test {
            overflow: auto;
        }
    }

    // windows css
    @supports (-ms-ime-align:auto) {
        // .page-order-details {
        //     transform: rotate(270deg) !important;
        // }
        // .menu-details {
        //     position:  relative !important;
        // }
    }
}
