<div class="menu-details">
    <div class="test">
        <svg [attr.width.px]="width" [attr.height.px]="height" [innerHTML]="myImage" xmlns="http://www.w3.org/2000/svg">
        </svg>
    </div>
</div>