page-floorviewpopup {
    .floor-view {
        background: transparent;
    }

    .overlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: .6;
        background-color: #060606;
    }

    .modal_content {
        top: 8%;
        left: 0;
        right: 0%;
        height: 85%;
        width: 90%;
        position: absolute;
        z-index: 1000;
        margin: 0 auto;
        color: #333;
        background: white;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e8e8e8));
        background: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%);
        -webkit-box-shadow: 0 2px 3px rgba(51, 51, 51, 0.35);
        box-shadow: 0 2px 3px rgba(51, 51, 51, 0.35);
        box-sizing: border-box;
        
        .header {
            font-size: 15px;
            font-weight: bold;
            background-color: #4FC15E;
            height: 40px;
            color: white;
            .display-block {
                display: inline-block;
            }

            .header-btn-group {
                width: 10%;
                display: flex;
                flex-direction: row;

                .close-button {
                    display: inline-block;
                    color: white;
                    font-size: 30px;
                }
            }
        }
        
        .body {
            font-size: 14px;
            height: calc(100% - 40px);
            overflow-y: auto;
            overflow-x: auto;
        }
    }
}
