<ion-content class="floor-view">
    <div class="overlay"></div>
    <div class="modal_content">
        <span *ngIf="showLoader" class="loading"></span>
        <div class="row header responsive-sm">
            <div class="display-block" style="padding: 10px; width: 90%;display: inline-block;">{{selectedLanguageText.SELECT_TABLE_HEADER}}</div>
            <div class="header-btn-group">
                <span class="close-button" style="display: inline-block;" (click)="closePopup('close')"> X </span>
            </div>
        </div>
        <div class="body">
            <div class="svg-style">
                <div class="test">
                    <svg [attr.width.px]="width" [attr.height.px]="height" [innerHTML]="myImage" xmlns="http://www.w3.org/2000/svg"></svg>
                </div>
            </div>
        </div>
    </div>
</ion-content>