page-cover-count {
    .main-view{
        background: transparent;
    }

    .overlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: .6;
        background-color: #060606;
    }

    .modal_content {
        position: absolute;
        top: 20%;
        left: 0%;
        right: 0%;
        width: 50%;
        height: 50%;
        z-index: 1000;
        margin: 0 auto;
        color: #151313;
        background: white;
        -webkit-box-shadow: 0 2px 3px rgba(51, 51, 51, 0.35);
        box-shadow: 0 2px 3px rgba(51, 51, 51, 0.35);

        .display-block {
            display: inline-block;
            &.height-100 {
                height: 100%;
                margin-left: 5px;
            }
        }

        .header {
            font-size: 15px;
            font-weight: bold;
            background-color: #4FC15E;
            color: white;
            height: 40px;
            .header-text {
                padding-left: 15px;
                padding-top: 10px;
                width: 90%;
                display: inline-block;
            }
            .header-btn-group {
                width: 10%;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;
                .close-button {
                    display: inline-block;
                    color: white;
                    font-size: 30px;
                    margin-right: 5px;
                }
            }
        }

        .cover-count-footer {
            width: 100%;
            text-align: end;
            height: 60px;

            .button {
                display: inline-block;
                padding: 15px 16px;
                margin-bottom: 0;
                font-size: 14px;
                font-weight: bolder;
                line-height: 0.428571;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-image: none;
                border: 1px solid transparent;
                border-radius: 4px;
                margin-bottom: 4px;
                margin-right: 10px;
            }

            .goto-menu {
                color: #fff;
                background-color: #4fc15e;
                border-color: #4fc15e;
                margin-top: 10px;
            }

            .cancel{
                color: #fff;
                background-color: #808284;
                border-color: #808284;
                float: left;
                margin-left: 6px;
                margin-top: 10px;
            }

            .add-disable {
                pointer-events: none;
                opacity: .5;
            }

            .remove-disable {
                pointer-events: all;
                opacity: 1;
            }
        }

        .body {

            font-size: 14px;
            width: 100%;
            overflow: hidden;
            padding-right: 10px;
            height: calc(100% - 100px);
            padding-top: 10px;

            .count-label {
                font-weight: bold !important;
                padding: 15px;
            }

            .inline-block {
                float: right;
            }

            .add {
                ion-icon.icon {
                    font-size: 3.6em !important;
                    color: limegreen;
                }
            }

            .remove {
                ion-icon.icon {
                    font-size: 3.6em !important;
                    color: darkgrey;
                }
            }

            .border-style {
                width: 32px;
                text-align: center;
                margin-top: 20px;
            }

            // windows css
            @supports (-ms-ime-align:auto) {
                .btn-div {
                    margin-right: 40px !important;
                    margin-bottom: -20px !important;
                }
            }
        }
    }
}

