<ion-content class="main-view">
    <div class="overlay"></div>
    <div class="modal_content">
        <span *ngIf="showLoader" class="loading"></span>
        <div class="row header responsive-sm" *ngIf="!qrCodeView">
            <div class="display-block header-text">{{popupHeader}}</div>
            <div class="header-btn-group">
                <span class="close-button" style="display: inline-block;" (click)="closePopup('close')"> X </span>
            </div>
        </div>
        <div class="body">
            <div class="display-block count-label">{{selectedLanguageText.COVER_COUNT_LABEL}}</div>
            <div class="inline-block">
                <div style="display: flex;">
                    <div class="rotate-90deg remove" (click)="removeCoverCount()" [ngClass]="coverCount==0?'add-disable':'remove-disable'">
                        <ion-icon name="remove-circle"></ion-icon>
                    </div>
                    <div id="count-label" class="border-style">0</div>
                    <div class="rotate-90deg add" (click)="addCoverCount()" [ngClass]="coverCount==tableCoverCount?'add-disable':'remove-disable'">
                        <ion-icon name="add-circle"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="cover-count-footer">
            <span class="button cancel" (click)="closePopup('close')">{{selectedLanguageText.CANCEL_BTN}}</span>
            <span (click)="closePopup('gotobtn')" [ngClass]="!coverCount ?'add-disable':'remove-disable'" class="button goto-menu">{{selectedLanguageText.GO_TO_MENU_BTN}}</span>
        </div>
    </div>
</ion-content>