<div class="open-check">
    <div style="width:100%;height: 100%;text-align: center;">
        <div class="table-header">
            <div style="width: 100%;display: flex;" >
                <div style="width: 10%; display: inline-block;">
                    <div>{{selectedLanguageText.TABLE_HEADER}}#</div>
                </div>
                <div style="width: 90%; display: inline-block;">
                    <div style="width: 10%; display: inline-block;">{{selectedLanguageText.SEAT_HEADER}} #</div>
                    <div style="width: 30%; display: inline-block;">{{selectedLanguageText.NAME_HEADER}}</div>
                    <div style="width: 20%; display: inline-block;">{{selectedLanguageText.PREPARE_TIME_HEADER}}</div>
                    <div style="width: 25%; display: inline-block;">{{selectedLanguageText.ORDER_TIME_HEADER}}</div>
                </div>
            </div>
        </div>
        <div class="table-body" *ngIf="!emptyBlock">
            <div class="table-row" style="width: 100%;display: flex;" *ngFor="let item of orderDetailsArray; let i = index">
                <div style="width: 10%; display: inline-block;text-align: center;padding-top: 5px;">
                    <div>{{item.Table.TableNo}}</div>
                </div>
                <div style="width: 90%; display: inline-block;">
                    <div *ngFor="let seat of item.Table.Seat; let j = index" style="padding-bottom: 3px;padding-top: 5px;">
                        <div style="width: 10%; display: inline-block;text-align: center;"> {{seat.SeatNo}}</div>
                        <div style="width: 30%; display: inline-block;" class="text-overflow">{{seat.MenuItem.name}}</div>
                        <div style="width: 20%; display: inline-block;">{{item.OpenTime}}</div>
                        <div style="width: 25%; display: inline-block;">{{item.OpenTime}}</div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-body empty-block" *ngIf="emptyBlock">{{selectedLanguageText.NO_ORDERS_AVAILABLE}}</div>
    </div>
</div>