page-order-details {
    width: 100%;
    height: 100%;
    writing-mode: initial !important;
    background-color: white !important;
    .open-check {
        width: 100%;
        height: 100%;
        .table-header {
            background-color: #AEAAAA;
            height: 30px;
            padding-top: 5px;
            font-weight: bold;
        }
        .table-body {
            height: calc(100% - 30px);
            overflow: auto;
            .table-row {
                width: 100%;
                background-color: #E7E6E6;
                margin-bottom: 10px;
            }
            .text-overflow {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        .empty-block {
            padding-top: 10%;
            font-size: large;
            color: green;
        }
    }
}
